# see https://docs.mcp-agent.com/reference/configuration
$schema: ../../../schema/mcp-agent.config.schema.json

name: deep_research_agent
execution_engine: asyncio

logger:
  transports: [file]
  level: debug
  progress_display: true
  path_settings:
    # Logs rel
    path_pattern: "../logs/deep-research-agent-{unique_id}.jsonl"
    unique_id: "timestamp" # Options: "timestamp" or "session_id"
    timestamp_format: "%Y%m%d_%H%M%S"

mcp:
  servers:
    fetch:
      command: "uvx"
      args: ["mcp-server-fetch"]
    filesystem:
      command: "npx"
      args: ["-y", "@modelcontextprotocol/server-filesystem", "."]
    yfmcp:
      command: "uvx"
      args: ["yfmcp@latest"]
    financial-datasets:
      command: "npx"
      args: ["-y", "mcp-remote", "https://mcp.financialdatasets.ai/mcp"]
    excel:
      command: "uvx"
      args: ["excel-mcp-server", "stdio"]
      
# For OpenAI. Since Ollama and OpenAI use the same config settings, because
# the same `OpenAIAugmentedLLM` is used, you'll have to uncomment this section
# and comment out the next "openai" section when you do inference with OpenAI.
# Automated solution TBD...
# Alternatively, use the command-line options to specify different models; see
# the README.

openai:
  default_model: "gpt-4o-mini"
  reasoning_effort: "medium"
  base_url: "https://api.openai.com/v1"
  
# for ollama
# openai:
#   default_model: "llama3.2:3B" # "gpt-oss:20b"
#   reasoning_effort: "medium"
#   base_url: "http://localhost:11434/v1"
#   api_key: "ignored"

anthropic:
  default_model: "claude-3-5-sonnet-20241022"
