# see https://docs.mcp-agent.com/reference/configuration
$schema: ../../../schema/mcp-agent.config.schema.json

name: deep_research_agent
execution_engine: asyncio

logger:
  transports: [file]
  level: debug
  progress_display: true
  path_settings:
    # Logs rel
    path_pattern: "../logs/deep-research-agent-{unique_id}.jsonl"
    unique_id: "timestamp" # Options: "timestamp" or "session_id"
    timestamp_format: "%Y%m%d_%H%M%S"

mcp:
  servers:
    fetch:
      command: "uvx"
      args: ["mcp-server-fetch"]
    yfmcp:
      command: "uvx"
      args: ["yfmcp@latest"]
    financial-datasets:
      command: "npx"
      args: ["-y", "mcp-remote", "https://mcp.financialdatasets.ai/mcp"]
    filesystem:
      command: "npx"
      args: ["-y", "@modelcontextprotocol/server-filesystem", "."]
    excel:
      command: "uvx"
      args: ["excel-mcp-server", "stdio"]
      
# Since Ollama and OpenAI use the same internal code path, i.e.,
# mcp-agent's `OpenAIAugmentedLLM`, you MUST uncomment the correct "openai"
# definition here and comment out the other one!
# Eliminating this manual step is TBD.

# Use this for OpenAI inference:
openai:
  default_model: "gpt-4o-mini"
  reasoning_effort: "medium"
  base_url: "https://api.openai.com/v1"
  
# Use this for ollama inference. Change the model, too!
# openai:
#   default_model: "gpt-oss:20b"
#   reasoning_effort: "medium"
#   base_url: "http://localhost:11434/v1"
#   api_key: "ignored"

anthropic:
  default_model: "claude-3-5-sonnet-20241022"
